/*#region-----------------------------------font-imports------------------------------------------*/
@font-face {
  font-family: 'Wisdom Script Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Wisdom Script Regular'), url('./assets/fonts/Wisdom-Script.woff') format('woff');
}
@font-face {
  font-family: 'AdobeInvisFont';
  src: url('./assets/fonts/AdobeInvisFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('./assets/fonts/MyriadPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sacramento';
  src: url('./assets/fonts/Sacramento-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/LibreBaskerville-Regular.ttf') format('truetype');
}

/*#endregion*/

@-webkit-keyframes swap { from { margin-left:100%; } to { margin-left:0; }  }
   @-moz-keyframes swap { from { margin-left:100%; } to { margin-left:0; }  }
     @-o-keyframes swap { from { margin-left:100%; } to { margin-left:0; }  }
        @keyframes swap { from { margin-left:100%; } to { margin-left:0; }  }

:root {
  --white: #ffffff;
  --white-two: #f7f7f7;
  --white-three: #e0e0e0;
  --white-four: #fefefe;
  --white-five: #efefef;
  --white-70: rgba(254, 254, 254, 0.7);
  --white-30: rgba(224, 224, 224, 0.3);
  --very-light-pink: #fef4f2;
  --gray: #cccccc;
  --brownish-grey: #616161;
  --slate-grey-30: rgba(93, 93, 98, 0.3);
  --black: #000000;
  --black-two: #272727;
  --black-three: #313131;
  --black-50: rgba(0, 0, 0, 0.5);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-14: rgba(0, 0, 0, 0.14);
  --black-12: rgba(0, 0, 0, 0.12);
  --black-05: rgba(0, 0, 0, 0.05);
  --dark-85: rgba(38, 39, 50, 0.85);
  --coral: #fc5f45;
  --coral-30: rgba(252, 95, 69, 0.29);
  --apricot: #feb960;
  --apricot-30: rgba(254, 185, 96, 0.29);
  --light-purple: #b27cf5;
  --light-purple-30: rgba(178, 124, 245, 0.29);
  --greenish-teal: #38c695;
  --greenish-teal-30: rgba(56, 198, 149, 0.29);
  --transparent: rgba(0, 0, 0, 0.0001);
}
body {
  width: 100%;
  font-family: 'Poppins', 'AdobeInvisFont', 'MyriadPro-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
}
.section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
a,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  box-sizing: border-box;
}
/*#region-----------------------------------common classes------------------------------------------*/
.large-number-block {
  width: auto;
  height: auto;

  font-family: 'Poppins Bold', 'AdobeInvisFont', 'MyriadPro-Regular', sans-serif;
  font-size: 264px;
  line-height: 206px;
  color: rgba(224, 224, 224, 0.3);
  color: var(--white-30);
}
.logo {
  font-family: 'Wisdom Script Regular', 'AdobeInvisFont', 'MyriadPro-Regular', serif;
  font-size: 35px;
  color: #616161;
  color: var(--brownish-grey);
}
.logo::first-letter {
  color: #fc5f45;
  color: var(--coral);
}
.main-heading {
  font-family: 'Libre Baskerville', 'AdobeInvisFont', 'MyriadPro-Regular', serif;
  font-weight: bold;
  font-size: 50px;
  text-transform: capitalize;
  color: #313131;
  color: var(--black-three);
  z-index: 10;
}
.small-heading {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  color: #313131;
  color: var(--black-three);
}
.main-description {
  font-size: 15px;
  line-height: 27px;
  color: #616161;
  color: var(--brownish-grey);
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 78px;
  width: 550px;
  height: 245px;
}
.section-header__heading-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 200px;
}
.section-header__heading {
  margin-top: -65px;
}
.section-header__text {
  font-size: 18px;
}

.lines-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
}
.colored-line {
  position: absolute;
  width: 100%;
  height: 6px;
  left: 0;
  bottom: 0;
}
.four_lines {
  width: 25%;
  position: relative;
}

.red-text {
  color: #fc5f45;
  color: var(--coral);
}
.red-line {
  background-color: #fc5f45;
  background-color: var(--coral);
}
.red-image::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(252, 95, 69, 0.29) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background: linear-gradient(0deg, var(--coral-30) 0%, var(--transparent) 100%);
}
.green-text {
  color: #38c695;
  color: var(--greenish-teal);
}
.green-line {
  background-color: #38c695;
  background-color: var(--greenish-teal);
}
.green-image::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(56, 198, 149, 0.29) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background: linear-gradient(0deg, var(--greenish-teal-30) 0%, var(--transparent) 100%);
}
.purple-text {
  color: #b27cf5;
  color: var(--light-purple);
}
.purple-line {
  background-color: #b27cf5;
  background-color: var(--light-purple);
}
.purple-image::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(178, 124, 245, 0.29) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background: linear-gradient(0deg, var(--light-purple-30) 0%, var(--transparent) 100%);
}
.yellow-text {
  color: #feb960;
  color: var(--apricot);
}
.yellow-line {
  background-color: #feb960;
  background-color: var(--apricot);
}
.yellow-image::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(254, 185, 96, 0.29) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background: linear-gradient(0deg, var(--apricot-30) 0%, var(--transparent) 100%);
}
.white-bg-box-shadow {
  background-color: #ffffff;
  background-color: var(--white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 20px var(--black-05);
}
/*#endregion*/
/*#region-----------------------------------Button------------------------------------------*/
.main-button {
  position: relative;
  width: 180px;
  height: 50px;

  font-family: 'Poppins', 'AdobeInvisFont', 'MyriadPro-Regular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  color: var(--white);

  background-color: #fc5f45;
  background-color: var(--coral);
  border: none;
  border-radius: 25px;
  outline: none;

  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 
              0px 6px 10px 0px rgba(0, 0, 0, 0.14), 
              0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px var(--black-20), 
              0px 6px 10px 0px var(--black-14), 
              0px 1px 18px 0px var(--black-12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
              opacity 15ms linear 30ms,
              transform 270ms 0ms cubic-bezier(0, 0, 0.2, 1);
}
.main-button:hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 
              0px 8px 10px 1px rgba(0, 0, 0, 0.14), 
              0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 5px 5px -3px var(--black-20), 
              0px 8px 10px 1px var(--black-14), 
              0px 3px 14px 2px var(--black-12);
}
.main-button:active {
  opacity: 0.5;
  outline: none;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 
              0px 12px 17px 2px rgba(0, 0, 0, 0.14), 
              0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 7px 8px -4px var(--black-20), 
              0px 12px 17px 2px var(--black-14), 
              0px 5px 22px 4px var(--black-12);
}
.main-button::after,
.main-button::before {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  content: "";
  background-color: #ffffff;
  background-color: var(--white);
}
.main-button::after {
  width: 0;
  height: 0;
}
.main-button::before {
  width: 100%;
  height: 100%;
}
.main-button:hover::before {
  opacity: .08;
}
.main-button:active::before {
  opacity: .2;
}
.main-button::before {
  transition: opacity 15ms linear, background-color 15ms linear;
  z-index: 1;
}


.nav_radio {
  display: flex;
}
.nav_radio__button {
  position: relative;
  width: 18px;
  height: 18px;
  margin-left: 6px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.nav_radio__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  
  background: none;
  border: 2px solid;
  border-radius: 50%;
  box-sizing: border-box;
}
.nav_radio__input:checked ~ .nav_radio__checkmark {
  border: 2px solid;
}
.nav_radio__input:checked ~ .nav_radio__checkmark:after {
  display: block;
}
.nav_radio__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.nav_radio__input:checked ~ .nav_radio__checkmark:after {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
}
.nav_radio__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
/*#endregion*/
/*#region-----------------------------------Navigation---------------------------------------*/
.navigation {
  position: absolute;
  top: 0;
  left: 0;
  height: 76px;
}
.container_nav {
  flex-direction: row;
  justify-content: space-between;
}
.mobile-menu-button,
.nav__item-title {
  display: none;
}
.nav {
  max-width: 712px;
  width: 100%;
}
.nav__list {
  font-weight: 500;
  font-size: 14px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 27px;
}
.nav__link {
  text-decoration: none;
  color: #272727;
  color: var(--black-two);
}
.nav__link:hover {
  font-weight: 700;
}
/*#endregion*/
/*#region-----------------------------------Home---------------------------------------------*/
.home {
  min-height: 850px;
  background-color: rgba(38, 39, 50, 0.85);
  background-color: var(--dark-85);
}
.home__heading {
  display: flex;
  align-items: center;
  width: 848px;
  height: 150px;
  margin-top: 250px;
  margin-bottom: 47px;

  font-family: 'Libre Baskerville', 'AdobeInvisFont', 'MyriadPro-Regular', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  text-align: center;
  line-height: 85px;
  color: #ffffff;
  color: var(--white);
}
.home__features {
  display: flex;
  justify-content: space-between;
  width: 743px;
  margin-top: 80px;
}
.home__feature-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 94px;
}
.home__feature-description {
  font-weight: 500;
  font-size: 18px;
  
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.home__middle_feature {
  margin-left: 30px;
}
/*#endregion*/
/*#region-----------------------------------About----------------------------------------------*/
.about {
  position: relative;
  min-height: 1003px;
  background-color: #ffffff;
  background-color: var(--white);
}
.container_about {
  position: relative;
}
.about__image-block {
  position: absolute;
  width: 555px;
  height: 700px;
  top: 150px;
  left: 0;
  border: 10px solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-color: var(--black-20);
  box-sizing: border-box;
}
.about__image-block img {
  width: 100%;
  height: 100%;
}
.about__text-block {
  position: absolute;
  left: 486px;
  top: 224px;
  width: 655px;    
  min-height: 553px;
  height: auto;
}
.about__text-wrapper {
  height: auto;
  min-height: 350px;
  margin-top: -100px;
}
.about__heading {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding-left: 80px;
  box-sizing: border-box;
}
.about__description-block {
  width: 100%;
  min-height: 259px;
  height: auto;
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;
}
.about__description-item {
  width: 100%;
  margin-bottom: 20px;
}
/*#endregion*/
/*#region-----------------------------------Services----------------------------------------------*/
.services {
  min-height: 827px;
  background-color: #f7f7f7;
  background-color: var(--white-two);
}
.services__items-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  min-height: 1px;
}
.services__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 264px;
  height: 350px;
  margin: 20px 0;
}
.services__item-heading {
  margin: 28px 0;
}
.services__item-description {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}
/*#endregion*/
/*#region-----------------------------------Video-BG----------------------------------------------*/
.video-bg {
  min-height: 500px;
  background-color: rgba(38, 39, 50, 0.85);
  background-color: var(--dark-85);
}
.container_video-bg {
  min-height: 500px;
  justify-content: center;
}
.video-bg__heading {
  font-size: 30px;
  line-height: 80px;
  color: #ffffff;
  color: var(--white);
  text-align: center;
}
.video-bg__description {
  font-size: 15px;
  line-height: 80px;
  color: #ffffff;
  color: var(--white);
}
.video-bg__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}
.video-bg__button img {
  width: 100%;
}
.video-bg__button:hover {
  background-color: rgba(0, 0, 0, 0.29);
  border-radius: 50%;
}
.video-bg__button:active {
  background-color: rgba(122, 216, 183, 0.15);
  border-radius: 50%;
}
/*#endregion*/
/*#region-----------------------------------Portfolio----------------------------------------------*/
.portfolio {
  min-height: 1387px;
  background-color: #ffffff;
  background-color: var(--white);
}
.portfolio__projects-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  max-width: 1128px;
  width: 100%;
  min-height: 916px;
  height: auto;
}
.portfolio__project {
  max-width: 371px;
  width: 45%;
  height: 299px;
  padding: 5px;
  box-sizing: border-box;

  background-color: #ffffff;
  background-color: var(--white);
  cursor: pointer;
}
.portfolio__main-block {
  position: relative;
  width: 100%;
  height: 100%;
}
.portfolio__project-image {
  width: 100%;
}
.portfolio__project-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 210px;
  overflow: hidden;
  z-index: 10;
}
.portfolio__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  padding: 0;

  background: none;
  border: none;
  outline: none;
  opacity: 0;

  transition: opacity 0.15s;
}
.portfolio__button:hover {
  background: rgba(255, 255, 255, 0.16);
  border-radius: 50%;
}
.portfolio__button:active {
  background: rgba(255, 255, 255, 0.3);
}
.portfolio__button img {
  width: 100%;
}
.portfolio__project-info {
  position: absolute;
  bottom: -65px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;

  background-color: #ffffff;
  background-color: var(--white);

  transition: bottom 0.5s;
}
.portfolio__project-heading {
  font-size: 18px;
}
.portfolio__project:hover {
  box-shadow: 0px 0px 20px var(--black-05);
}
.portfolio__project:hover .portfolio__main-block::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
}
.portfolio__project:hover .portfolio__project-info {
  bottom: 0;
  left: 0;
}
.portfolio__project:hover .portfolio__button {
  opacity: 1;
}
.portfolio__lines {
  top: 0;
}
.portfolio__lines .colored-line {
  position: relative;
  width: 25%;
}
/*#endregion*/
/*#region-----------------------------------Team----------------------------------------------*/
.team {
  min-height: 1227px;
  background-color: #f7f7f7;
  background-color: var(--white-two);
}
.team__members {
  width: 100%;
}
.team__members-wrapper {
  display: flex;
  justify-content: space-between;
}
.team__member {
  position: relative;
  width: 265px;
  height: 350px;
  cursor: pointer;
}
.team__member-image {
  position: relative;
  width: 100%;
  height: 270px;

  background: url('./assets/images/team-image.png');
  border: 5px solid;
  border-color: #ffffff;
  border-color: var(--white);
  box-sizing: border-box;
}
.team__member-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}
.team__member-heading {
  font-size: 18px;
}
.team__member-text {
  font-size: 13px;
}
.team__description-wrapper {
  position: relative;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.team__description {
  position: relative;
  display: none;
  width: 100%;
  height: auto;
  min-height: 350px;
  padding: 0 95px;
  box-sizing: border-box;
}
.team__member_active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-animation: 0.5s ease-in-out swap;
     -moz-animation: 0.5s ease-in-out swap;
       -o-animation: 0.5s ease-in-out swap;
          animation: 0.5s ease-in-out swap;
}
.team__description::after {
  content: '';
  position: absolute;
  top: -35px;
  left: 12.5%;
  margin-left: -40px;
  width: 0;
  height: 0;

  border-style: solid;
  border-width: 0 35px 35px 35px;
  border-color: transparent transparent #ffffff transparent;
  border-color: transparent transparent var(--white) transparent;
  z-index: 10;
}
.team__member_two::after {
  left: 37.5%;
}
.team__member_three::after {
  left: 63.5%;
}
.team__member_four::after {
  left: 88.5%;
}
.team__description-heading {
  margin-bottom: 30px;
  color: #272727;
  color: var(--black-two);
}
.team__description-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.team__description-text {
  max-width: 664px;
  width: 100%;
  min-height: 164px;
  height: auto;
}
.team__social {
  width: 194px;
  height: 154px;
  display: flex;
  align-items: center;
}
.team__social-icon {
  width: 38px;
  height: 38px;
}
.team__social-splitter {
  width: 2px;
  height: 151px;
  margin-left: 30px;
  margin-right: 20px;
  background-color: #efefef;
  background-color: var(--white-five);
}
.team__links {
  display: flex;
  flex-direction: column;
}
.team__link_a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.team__link_a i {
  width: 18px;
  height: 18px;
  background-color: #616161;
  background-color: var(--brownish-grey);
  color: white;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 100;
  border-radius: 3px;
}
.team__link_name {
  margin-left: 6px;
}
/*#endregion*/
/*#region-----------------------------------Stats----------------------------------------------*/
.stats {
  min-height: 464px;
  background: linear-gradient(to right, rgba(38, 39, 50, 0.85), rgba(38, 39, 50, 0.85)), 
              url('./assets/images/stats/Layer\ 24.png');
  background: linear-gradient(to right, var(--dark-85), var(--dark-85)), 
              url('./assets/images/stats/Layer\ 24.png');
}
.container__stats {
  min-height: 464px;
  justify-content: center;
}
.stats__wrapper {
  display: flex;
  justify-content: space-between;
  width: 1017px;
  height: 196px;
}
.stats__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  height: 193px;
  text-align: center;
}
.stats__heading {
  color: #fefefe;
  color: var(--white-four);
}
.stats__text {
  width: 100%;
  color: rgba(254, 254, 254, 0.7);
  color: var(--white-70);
}
/*#endregion*/
/*#region-----------------------------------Work-steps----------------------------------------------*/
.work-steps {
  min-height: 1729px;
  background-color: #ffffff;
  background-color: var(--white);
}
.work-steps__content-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 1253px;
  height: auto;
}
.work-steps__text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  height: auto;
}
.work-steps__step {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 460px;
  min-height: 304px;
  height: auto;
  padding: 30px;
  box-sizing: border-box;
}
.work-steps__step:nth-of-type(odd) {
  align-self: flex-start;
}
.work-steps__step:nth-of-type(even) {
  align-self: flex-end;
}
.work-steps__heading {
  display: flex;
  align-items: center;
  width: 100%;
}
.work-steps__number {
  position: relative;
  width: 85px;
  height: 85px;
  color: #e0e0e0;
  color: var(--white-three);
}
.work-steps__number::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, transparent 51%, #e0e0e0, transparent 54%);
  background-image: linear-gradient(to bottom right, transparent 51%, var(--white-three), transparent 54%);
}
.work-steps__description {
  font-size: 25px;
  color: #272727;
  color: var(--black-two);
  margin-left: 0;
}
.work-steps__text {
  margin-left: 85px;
  margin-right: 30px;
}

.work-steps__images-wrapper {
  display: flex;
  flex-direction: column;
  width: 556px;
  padding-top: 53px;
}
.work-steps__image {
  position: relative;
  width: 100%;
  height: 300px;

  background: url('./assets/images/step-image.png');
}
/*#endregion*/
/*#region-----------------------------------Pricing----------------------------------------------*/
.pricing {
  min-height: 1050px;
  background-color: #f7f7f7;
  background-color: var(--white-two);
}
.pricing__packages-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.pricing__package {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 362px;
  height: 578px;
  padding: 35px 0;
  box-sizing: border-box;
}
.pricing__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 109px;
  height: 109px;
  margin-top: 30px;
  margin-bottom: 40px;

  text-align: center;
  color: #ffffff;
  color: var(--white);
  border-color: #ffffff;
  border-color: var(--white);
  border: 3px solid;
  box-sizing: border-box;
  border-radius: 50%;
}
.pricing__icon_green {
  background: linear-gradient(0deg, #38c695, #38c695), #feb960;
  box-shadow: 0px 0px 0px 3px #38c695;
  background: linear-gradient(0deg, var(--greenish-teal), var(--greenish-teal)), var(--apricot);
  box-shadow: 0px 0px 0px 3px var(--greenish-teal);
}
.pricing__icon_red {
  background: linear-gradient(0deg, #fc5f45, #fc5f45), #feb960;
  box-shadow: 0px 0px 0px 3px #fc5f45;
  background: linear-gradient(0deg, var(--coral), var(--coral)), var(--apricot);
  box-shadow: 0px 0px 0px 3px var(--coral);
}
.pricing__icon_purple {
  background: linear-gradient(0deg, #b27cf5, #b27cf5), #feb960;
  box-shadow: 0px 0px 0px 3px #b27cf5;
  background: linear-gradient(0deg, var(--light-purple), var(--light-purple)), var(--apricot);
  box-shadow: 0px 0px 0px 3px var(--light-purple);
}
.pricing__title {
  font-size: 25px;
}
.pricing__description-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 198px;
  height: 213px;
  margin-bottom: 39px;
}
.pricing__description {
  text-align: center;
}
.pricing__description_bolder {
  font-weight: 600;
}
.button_no-bg {
  background: rgba(56, 198, 149, 0.0001);
  box-shadow: none;
}
.button_green {
  color: #38c695;
  color: var(--greenish-teal);
  border: 2px solid;
  border-color: #38c695;
  border-color: var(--greenish-teal);
}
.button_purple {
  color: #b27cf5;
  color: var(--light-purple);
  border: 2px solid;
  border-color: #b27cf5;
  border-color: var(--light-purple);
}
.button_no-bg:hover {
  box-shadow: 0px 5px 5px -3px rgba(56, 198, 149, 0.2), 
              0px 8px 10px 1px rgba(56, 198, 149, 0.14), 
              0px 3px 14px 2px rgba(56, 198, 149, .12);
}
.pricing__lines {
  top: 0;
}
/*#endregion*/
/*#region-----------------------------------Testimonials TODO----------------------------------------------*/
.testimonials {
  min-height: 874px;
  background-color: rgba(38, 39, 50, 0.85);
  background-color: var(--dark-85);
}
.large-number_testimonials {
  color: rgba(93, 93, 98, 0.3);
  color: var(--slate-grey-30);
}
.section-header_white {
  color: #ffffff;
  color: var(--white);
}
.testimonials__content-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.testimonials__feedbacks {
  min-height: 399px;
  height: auto;
  position: relative;
}
.testimonials__feedback {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.testimonials__feedback_active {
  display: flex;
  -webkit-animation: 0.5s ease-in-out swap;
     -moz-animation: 0.5s ease-in-out swap;
       -o-animation: 0.5s ease-in-out swap;
          animation: 0.5s ease-in-out swap;
}
.testimonials__feedback-image {
  position: relative;
  width: 384px;
  height: 399px;
  background: url('./assets/images/testimonials-image.png');
  background-size: cover;
  border: 10px solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-color: var(--black-20);
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 20px var(--black-05);
  z-index: 10;
}
.testimonials__feedback-details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 825px;
  height: auto;
  min-height: 315px;
  margin-left: -70px;
  padding: 40px 70px 40px 120px;
  box-sizing: border-box;
}
.testimonials__text {
  z-index: 10;
}
.testimonials__client {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 97px;
  margin-top: 15px;
  z-index: 10;
}
.testimonials__signing-sacramento {
  margin-bottom: 10px;
  font-family: 'Sacramento', 'AdobeInvisFont', 'MyriadPro-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  
  color: #272727;
  color: var(--black-two);
}
.testimonials__signing-popins {
  font-size: 18px;

  color: #272727;
  color: var(--black-two);
}
.testimonials__signing-red {
  font-size: 13px;
  color: #fc5f45;
  color: var(--coral);
}
.testimonials__quotes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 337px;
  color: rgba(224, 224, 224, 0.3);
  color: var(--white-30);
  z-index: 1;
}
.testimonials__quotes::before {
  content: '“';
  position: absolute;
  top: 1px;
  left: 70px;
  width: 140px;
  height: 105px;
  z-index: 1;
}
.testimonials__quotes::after {
  content: '”';
  position: absolute;
  bottom: 10px;
  right: 30px;
  width: 140px;
  height: 105px;
  z-index: 1;
}

.testimonials__nav {
  position: relative;
  bottom: 20px;
  left: 0;
  z-index: 10;
}
.nav_radio {
  justify-content: flex-end;
}
.nav_radio__checkmark {
  border-color: #ffffff;
  border-color: var(--white);
}
.nav_radio__input:checked ~ .nav_radio__checkmark {
  border-color: #fc5f45;
  border-color: var(--coral);
}
.nav_radio__input:checked ~ .nav_radio__checkmark:after {
  background-color: #fc5f45;
  background-color: var(--coral);
}
/*#endregion*/
/*#region-----------------------------------why-choose-us----------------------------------------------*/
.why-choose-us {
  min-height: 1053px;
  background-color: #ffffff;
  background-color: var(--white);
}
.container_why-choose-us {
  padding-bottom: 160px;
}
.why-choose-us__features-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  max-width: 1083px;
  width: 100%;
  min-height: 375px;
  height: auto;
  margin-bottom: 150px;
}
.why-choose-us__feature {
  width: 320px;
  height: 150px;
}
.why-choose-us__feature-heading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  margin-bottom: 20px;
}
.why-choose-us__icon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.why-choose-us__larger-heading  {
  font-size: 18px;
  line-height: 23px;
  color: #272727;
  color: var(--black-two);
}
.why-choose-us__call-to-action {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.why-choose-us__call-text {
  font-size: 25px;
  color: #272727;
  color: var(--black-two);
  text-transform: none;
  margin-right: 25px;
}
/*#endregion*/
/*#region-----------------------------------Blog----------------------------------------------*/
.blog {
  min-height: 1154px;
  background-color: #f7f7f7;
  background-color: var(--white-two);
}
.blog__posts-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: 679px;
  margin-bottom: 150px;
}
.blog__post {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 555px;
  height: auto;
  min-height: 213px;
}
.blog__content {
  padding: 25px 38px;
  box-sizing: border-box;
}
.blog__heading {
  margin: 15px 0;
}
.blog__post-author {
  font-size: 15px;
}
.blog__post-date {
  font-size: 13px;
  margin-left: 20px;
}
.blog__post-date_active {
  color: rgba(255, 255, 255, 0.7);
  color: var(--white-70);
}
.blog__heading {
  font-size: 18px;
  color: #272727;
  color: var(--black-two);
  text-transform: none;
}
.blog__more {
  font-size: 15px;
  cursor: pointer;
}
.blog__more_active {
  color: #272727;
  color: var(--black-two);
}
.blog__image {
  position: relative;
  display: none;
}
.blog__image img {
  width: 100%;
}
.blog__post_active {
  min-height: 678px;
}
.blog__post_active .blog__content {
  margin-top: -55px;
  padding: 0 50px;
  z-index: 10;
}
.blog__post_active .blog__image {
  display: block;
  width: 100%;
  max-width: 555px;
  height: auto;
  min-height: 1px;
  max-height: 443px;
}
.blog__post_active .blog__image::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background: linear-gradient(0deg, var(--black-50) 0%, var(--transparent) 100%);
}
.blog__post_active .blog__post-details {
  margin-bottom: 50px;
  z-index: 10;
}
.blog__post_active .blog__heading {
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 20px;
}
/*#endregion*/
/*#region-----------------------------------Subscription----------------------------------------------*/
.subscription {
  min-height: 428px;
  background-color: #ffffff;
  background-color: var(--white);
}
.container_subscription {
  justify-content: center;
  min-height: 428px;
}
.subscription__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.subscription__title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;

  font-size: 30px;
  color: #272727;
  color: var(--black-two);
  line-height: 40px;
}
.subscription__input-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 482px;
  width: 100%;
}
.subscription__input {
  width: 100%;
  height: 50px;
  padding-left: 30px;
  background-color: #f7f7f7;
  background-color: var(--white-two);
  border: 2px solid;
  border-color: #efefef;
  border-color: var(--white-five);
  box-sizing: border-box;
  border-radius: 25px;
}
.subscription__input::placeholder {
  font-family: 'Poppins Regular', 'AdobeInvisFont', 'MyriadPro-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #616161;
  color: var(--brownish-grey);
}
.subscription__input:focus {
  font-size: 16px;
  color: #272727;
  color: var(--black-two);
  background-color: #e0e0e0;
  background-color: var(--white-three);
  border: 2px solid;
  border-color: #616161;
  border-color: var(--brownish-grey);
  outline: none;
}
.subscription__button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.subscription__button:hover,
.subscription__button:active {
  box-shadow: none;
}
.subscription__button::after, 
.subscription__button::before {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/*#endregion*/
/*#region-----------------------------------Contact----------------------------------------------*/
.contact {
  min-height: 1278px;
  background-color: #cccccc;
  background-color: var(--gray);
}
.contact__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  max-width: 752px;
  height: auto;
  min-height: 453px;
}
.contact__input {
  box-sizing: border-box;

  background-color: #ffffff;
  background-color: var(--white);
  border: 1px solid;
  border-color: #efefef;
  border-color: var(--white-five);
  border-radius: 5px;
}
.contact__input {
  width: 48%;
  max-width: 362px;
  height: 53px;
  padding: 0 20px;
}
.contact__message {
  width: 100%;
  max-width: 752px;
  height: 203px;
  padding: 20px;
  margin-bottom: 20px;
  resize: none;
}

.contact__input,
.contact__message,
.contact__input::placeholder {
  font-family: 'Poppins Regular', 'AdobeInvisFont', 'MyriadPro-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  color: #616161;
  color: var(--brownish-grey);
}
.contact__input::-ms-input-placeholder,
.contact__input,
.contact__message {
  font-family: 'Poppins Regular', 'AdobeInvisFont', 'MyriadPro-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  color: #616161;
  color: var(--brownish-grey);
}
.contact__input:-ms-input-placeholder {
  font-family: 'Poppins Regular', 'AdobeInvisFont', 'MyriadPro-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  color: #616161;;
  color: var(--brownish-grey);
}

.contact__input:focus {
  font-size: 16px;
  color: #272727;
  color: var(--black-two);
  border: 2px solid;
  border-color: #616161;
  border-color: var(--brownish-grey);
  outline: none;
}
.contact__button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer {
  display: flex;
  width: 100%;
  min-height: 228px;
  height: auto;
  margin-top: 150px;

  background-color: rgba(38, 39, 50, 0.85);
  background-color: var(--dark-85);
}
.footer_logo {
  color: #fef4f2;
  color: var(--very-light-pink);
  font-size: 50px;
}
.footer__column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 60px 40px;
  box-sizing: border-box;
}
.footer__column_logo {
  justify-content: center;
  padding: 0;
}
.footer__heading {
  width: 100%;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 27px;
}
.footer__text  {
  width: 100%;
  font-size: 16px;
  color: #fef4f2;
  color: var(--very-light-pink);
}
.footer__column_social {
  padding: 60px 50px;
}
.footer__links {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
/*#endregion*/